@charset "utf-8";
/* CSS Document */

.column_contact {
	width: 100%;
	height: 84px;
	background: url(../images/contact_top_bg.png) center center no-repeat;
}

.subnav_about {
	background: #f0f0ee;
	height: 45px;
	width: 100%;
}
.subnav_about ul {
	width: 997px;
	margin: 0 auto;
}
.subnav_about ul li a {
	width: 498px;
	float: left;
	text-align: center;
	line-height: 45px;
}
.subnav_about ul li a:hover {
	background: url(../images/nav_btnbg_click.png) center center no-repeat;
}


.main_contact {
	width: 100%;
	background:#f4f4f4;
	margin: 0 auto;
	margin-bottom: -40px;
}

.contact_content { height:100%; width:997px; margin:0 auto; background:#fff; }

.contact_content_word { color:#333; margin:0px 0px 60px 20px; width:957px; position:relative;}
.contact_content_ditu { width:997px; height:400px; background:url(../images/ditu3.jpg) center center no-repeat; display:block; margin-bottom:20px;  }
.contact_content_pic1 { width:997px; height:324px; background:url(../images/contact_content_pic1.png) center center no-repeat; display:block; margin-bottom:20px;  }
.contact_content_word p { padding-top:20px;  }