<div class="column_contact">
    <div class="column_words">
      <h1 class="column_tittle">联系我们</h1>
      <h5 class="column_tittle_En">Contact&nbsp;us</h5>
    </div>
  </div>
  
  
  
<div class="main_contact">
  	<div class="contact_content">
    	<span class="contact_content_ditu"></span>
    	<div class="contact_content_word">
    	<p>地址：上海市闵行区宝城路158弄38号1205室</p><p>
电话：021-54155012</p>
    	<p>邮编：201199</p></div>
    </div>    
  </div>