<div id="container">
  <div class="header">
    <div class="header_Menu">
      <div class="logo"><a>sd</a></div>
      <div class="nav">
        <ul>
          <li><a href="contact.html">联系我们<img src="images/contact_icon.png" width="23" height="33"/></a></li>
          <li><a href="join.html">人才招聘</a></li>
          <li><a href="about.html">关于我们</a></li>
          <li><a href="work.html">产品案例</a></li>
          <li><a href="index.html">首&nbsp;&nbsp;页</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="banner">
  
  
  
  	<header>
  <div class="header-content home">
    <div class="parallax-bg" id="slider-wrap">
      <div class="slider parallax-bg" id="slider">
        <div class="slider-sections sandbox">
          <section class="first"> 
            <img src="images/w1.png" alt="Kendo UI" />
            <div class="text">
              <h2>乌骓马文化发展有限公司</h2>
              <p class="copy">江苏乌骓马有限公司是立足南京溧水，辐射全国的、以影视文化产业为发展目标的全新的公司。
公司拥有自己的创作、制作团队，以坚持原创、坚持掌控知识产权为企业的运作思路与模式，着力打造属于自己的原创作品，包括动画系列片、动画电影、电视连续剧和常规电影的制作。
公司注册资金500万元，企业核心人员近20人， 开山之作、动画电影片《乌骓马》即出手不凡。《乌骓马》剧本经过长达三年的酝酿、创作，得到了著名作家赵本夫等文坛巨匠的赞誉，现在已经完善并且投入了正式制作。
</p>
            </div>
          </section>
          <section> 
            <img src="images/w2.png" alt="Kendo UI" />
            <div class="text">
              <h2>
                动画电影《乌骓马》</h2>
              <p class="copy">
                在中国的历史长河中，可以青史留名之人非常不易，能够留名于史册的具名动物更是凤毛麟角。乌骓马，是一个传奇的神话，尤其是它如此地家喻户晓。
  当数千年后的我们重拾乌骓马传奇的时候，除了知道它是一匹令楚霸王项羽临终之时还舍弃不下的战马之外，其余关于它一生的遭遇知之甚少。
  但是，乌骓马青史留名。

              </p>

              <!-- <p class="button"><a>Download</a> <a>Learn More</a></p> -->
            </div>
          </section>
          <section> 
            <img alt="Kendo UI" src="images/w3.png"/>
            <div class="text">
              <h2>
                创作班底</h2>
              <p>
                编  剧：张爱林（南京作家，国内实力派动画编剧，系列片作品《智慧龙》曾热销新加坡，曾与著名作家赵本夫合作动画电影剧本《白驹》。
              </p>
              <p>
                导  演：殷晓东（中国国际音像制品博览会金奖作品《东方神娃》总导演，曾任职于日本吉卜力工作室，参与制作宫崎骏名作《幽灵公主》等，执导作品曾获央视收视之冠，获国家广电总局颁发“动画片最佳导演奖”。）
              </p>
              <p>
                艺术总监、文学顾问：赵本夫（著名作家，《天下无贼》小说作者，获国务院特殊津贴，文学创作一级
              </p>
            </div>
          </section>
        </div>
      </div>
      <a class="slider-prev" href="javascript: void(0)">?</a> <a class="slider-next" href="javascript: void(0)">?</a> </div>
  </div>
</header>

  </div>
  <div class="contain">
  	<ul>
    <li><a class="contain_one" href="work.html"></a>
        <p><b>产品案例:</b>动画电影《神娃传》,《乌雅马》</p>
        <a  class="contain_more" href="work.html">更多...</a>
        </li>
    <li><a class="contain_two" href="about.html"></a>
        <p><b>关于我们:</b>本公司拥有业内顶级的开发团队，一流的技术平台，以及遍布全国数百家合作公司。</p>
        <a  class="contain_more" href="about.html">更多...</a>
      </li>
    <li class="contain_three_border-right"><a class="contain_three" href="contact.html"></a>
    	<p><b>联系我们:</b>本公司专注于动画制作及发行、衍生品销售、品牌授权、动画技术咨询及培训</p>
        <a  class="contain_more" href="contact.html">更多...</a>
      </li>
    </ul>
  </div>
  
  <div class="footer">
  <div class="foot">
  	<dl class="footer_A">
    	<dt><a href="about.html">关于</a></dt>
        <dd><a href="about.html">公司简介</a></dd>
        <dd><a href="about_future.html">公司战略</a></dd>
        <dd><a href="join.html">招贤纳士</a></dd>
    </dl>
    <dl class="footer_A">
    	<dt><a href="work.html">栏目</a></dt>
        <dd><a href="work_case.html">成功案例</a></dd>
        <dd><a href="work_After.html">售后服务</a></dd>
    </dl>
    <dl class="footer_B">
    	<dt><a href="contact.html">联系我们</a></dt>
        <dd>地址：上海市闵行区宝城路158弄38号1205室</dd>
		<dd>电话：021-54155012 </dd>
		<dd>邮编：201199</dd>
    </dl>
    <dl class="footer_B">
    	<dt>版权信息</dt>
        <dd>展示的全部产品归江苏乌骓马文化发展有限公司所有<br/>Copyright © 2014</dd>
    </dl>
    </div>
  </div>
</div>